Source: jsonnet
Priority: optional
Maintainer: Gasol Wu <gasol.wu@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Section: devel
Homepage: http://jsonnet.org
Vcs-Git: https://github.com/google/jsonnet.git
Vcs-Browser: https://github.com/Google/jsonnet

Package: jsonnet
Section: utils
Architecture: any
Depends: libjsonnet (= ${binary:Version}), ${shlibs:Depends},
 ${misc:Depends}
Description: Command-line tool to evaluate Jsonnet
 The data templating language for JSON or YAML.
 .
 Jsonnet is a domain specific configuration language that
 helps you define JSON data. Jsonnet lets you compute
 fragments of JSON within the structure, bringing the same
 benefit to structured data that templating languages bring
 to plain text.

Package: jsonnet-doc
Section: doc
Architecture: all
Depends: libjs-mathjax, ${misc:Depends}
Description: Command-line tool to evaluate Jsonnet - documentations
 The data templating language for JSON or YAML.
 .
 Jsonnet is a domain specific configuration language that
 helps you define JSON data. Jsonnet lets you compute
 fragments of JSON within the structure, bringing the same
 benefit to structured data that templating languages bring
 to plain text.

Package: libjsonnet
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library to evaluate Jsonnet - libraries
 The data templating language for JSON or YAML.
 .
 Jsonnet is a domain specific configuration language that
 helps you define JSON data. Jsonnet lets you compute
 fragments of JSON within the structure, bringing the same
 benefit to structured data that templating languages bring
 to plain text.

Package: libjsonnet-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library to evaluate Jsonnet - development files
 The data templating language for JSON or YAML.
 .
 Jsonnet is a domain specific configuration language that
 helps you define JSON data. Jsonnet lets you compute
 fragments of JSON within the structure, bringing the same
 benefit to structured data that templating languages bring
 to plain text.

Package: libjsonnet++
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library to evaluate Jsonnet - libraries
 The data templating language for JSON or YAML.
 .
 Jsonnet is a domain specific configuration language that
 helps you define JSON data. Jsonnet lets you compute
 fragments of JSON within the structure, bringing the same
 benefit to structured data that templating languages bring
 to plain text.

Package: libjsonnet++-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library to evaluate Jsonnet - libraries
 The data templating language for JSON or YAML.
 .
 Jsonnet is a domain specific configuration language that
 helps you define JSON data. Jsonnet lets you compute
 fragments of JSON within the structure, bringing the same
 benefit to structured data that templating languages bring
 to plain text.
