#!/usr/bin/make -f
export DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS=1
DEB_CXXFLAGS_MAINT_APPEND=-Wall -Wextra -pedantic -std=c++0x -fPIC -Iinclude
DEB_CFLAGS_MAINT_APPEND=-Wall -Wextra -pedantic -std=c99 -fPIC -Iinclude

include /usr/share/dpkg/default.mk

%:
	dh $@ -- -u'jsonnet libjsonnet.so libjsonnet++.so'
